@model List<Video> 


<div class="text-center">
    <h4 class="display-4">Administration of Videos</h4>
</div>


<div class="search-container">
    <div>
        <input type="text" class="search-box" placeholder="Search...">
        <i class="bi bi-search search-icon"></i>
    </div>
    <a asp-controller="Home" asp-action="UploadVideo" class="btn btn-success btn-sm">Upload</a>
</div>

<table class="custom-table">
    <thead class="custom-header">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>@video.Id</td>
                <td>@video.Title</td>
                <td>@video.Description</td>
                <td>
                    <a asp-controller="Home" asp-action="ViewVideo" asp-route-Id="@video.Id"
                       class="btn btn-warning btn-sm">View</a>
                    <a asp-controller="Videos" asp-action="Edit" asp-route-Id="@video.Id"
                       class="btn btn-success btn-sm">Edit</a>
                    <a asp-controller="Videos" asp-action="Delete" asp-route-Id="@video.Id"
                       class="btn btn-danger btn-sm">Delete</a>

                </td>
                
            </tr>
        }
    </tbody>
</table>

@{
    ViewData["Title"] = "Video Admin";
}
